/* Always peep in portrait mode */
@media screen and (max-width: 767px) and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      height: 100vw;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
}

html,body, .container {
    height: 100%;
    margin: 0;
}

body {
    background-color: #222;
    color: #eee;
    font-family: sans-serif;
    text-align: center;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1em;
}

.section {
    padding-bottom: 1em;
}

.button {
    cursor: pointer;
    border: 0.2em solid white;
    display: inline-block;
    padding: 1em;
    margin: 0.8em;
    border-radius: 100%;
    width: 1.5em;
    height: 1.5em;
}

.button .loading {
    display: none;
    animation:spin 1s linear infinite;
}

.button.spin .icon {
    display: none;
}

.button.spin .loading {
    display: inline-block;
}

@keyframes spin { 100% { transform: rotate(360deg); } }

.red {
    stroke: red;
}

.green {
    stroke: lime;
}

#refresh {
    margin-top: 4em;
}